& {
  font-family: Montserrat;
  color: $textColor;

  .promo {
    margin-bottom: px(76);
    padding: px(42) 0;
    background: url(../images/backgroundMobile1.png) no-repeat 0 0, $background1;
    background-size: cover;
    background-position: center;
    height: px(1080);
    text-align: center;
    width: 100%;
  }

  form {
    margin-bottom: px(230);
    padding: 0 px(130);
    text-align: left;
  }

  input {
    padding: px(14) px(30);
    border: px(5) solid $textColorTransp;
    border-radius: px(45);
    background: none;
    outline: none;
    color: $textColor;
    font-size: px(28);
    font-weight: 700;
  }

  input:focus {
  border: px(5) solid $textColor;
  }

  .brand {
    margin-bottom: px(66);
    font-size: px(40);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: px(2);
  }

  h1 {
    margin-bottom: px(22);
    font-size: px(60);
    font-weight: 700;
    text-transform: uppercase;
    line-height: px(68);
  }

  .robot {
    margin-bottom: px(32);
    font-family: Roboto;
    font-size: px(37);
    font-weight: 200;
    line-height: px(42);
  }

  .findButton {
    padding: px(22) px(100);
    background: $buttonColor;
    border-radius: px(45);
    color: $textColor;
    border: 0;
    outline: none;
    font-size: px(28);
    font-weight: 700;
  }

  .blackText {
    margin-bottom: px(30);
    color: $background1;
    font-size: px(44);
    font-weight: 700;
    text-align: center;
  }

  .step {
    margin: 0 px(20) px(10);
    padding: px(138) 0 px(5) px(40);
    background: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%), url(../images/backgroundMobile2.png) no-repeat px(-18) px(-55) transparent;
    border-radius: px(8);
    overflow: hidden;
    position: relative;
  }

  .step::before {
    border-radius: px(8);
    background: transparent;
    background: linear-gradient(to top, rgba(255, 153, 51, .1) 0%, rgba(255, 133, 35, .1) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .stepButton {
    margin-bottom: px(30);
    padding: px(8) px(25) px(8) px(28);
    background: $buttonColor;
    border-radius: px(45);
    color: $textColor;
    border: 0;
    outline: none;
    font-size: px(21);
    text-transform: uppercase;
    letter-spacing: px(4);
  }

  h2 {
    margin-bottom: px(26);
    font-size: px(48);
    font-weight: 700;
    line-height: px(56);
  }

  .step
  .robot {
    font-size: px(28);
    letter-spacing: px(.3);
    line-height: px(32);
  }

}
