& {
  font-family: Montserrat;
  color: $textColor;

  .promo {
    margin-bottom: px(76);
    padding: px(42) 0;
    background: url(../images/backgroundMobile1.png) no-repeat, $background1;
    height: px(1080);
    text-align: center;
    width: 100%;
  }

  form {
    margin-bottom: px(230);
    padding: 0 px(130);
    text-align: left;
  }

  input {
    padding: px(14) px(30);
    border: px(5) solid $textColorTransp;
    border-radius: px(45);
    background: none;
    outline: none;
    color: $textColor;
    font-size: px(28);
    font-weight: 700;
  }

  input:focus {
  border: px(5) solid $textColor;
  }

  .brand {
    margin-bottom: px(66);
    font-size: px(40);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: px(2);
  }

  h1 {
    margin-bottom: px(22);
    font-size: px(60);
    font-weight: 700;
    text-transform: uppercase;
    line-height: px(68);
  }

  .robot {
    margin-bottom: px(32);
    font-family: Roboto;
    font-size: px(37);
    font-weight: 200;
    line-height: px(42);
  }

  .findButton {
    padding: px(22) px(100);
    background: $buttonColor;
    border-radius: px(45);
    color: $textColor;
    border: 0;
    outline: none;
    font-size: px(28);
    font-weight: 700;
  }

  .blackText {
    margin-bottom: px(20);
    color: $background1;
    font-size: px(44);
    font-weight: 700;
    text-align: center;
  }

  .stepButton {
    font-size: px(10);
    text-transform: uppercase;
  }
}
